.idea/workspace.xml
*.pdf
.idea/inspectionProfiles/profiles_settings.xml
node_modules/
.env
vendor/*
vendor/
public/photos/
composer.lock
composer_BASE_1816.lock
composer_BACKUP_1816.lock
composer_REMOTE_1816.lock
composer_LOCAL_1816.lock
