@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
body {
  background-color: #E9F3F8;
}

* {
  padding: 0;
  margin: 0;
}

.menu-left {
  position: fixed;
  background-color: #fff;
  width: 200px;
  height: calc(100vh - 60px);
  border-right: 1px solid #003469;
}

.content-right {
  padding: 20px;
  margin: 0 0 0 200px;
}

.content-right h1 {
  line-height: 50px;
  height: 50px;
}

nav {
  width: 100vw;
  height: 60px;
  overflow: hidden;
  position: relative;
  background-color: #E00049;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
}

nav ul.nav-left {
  position: absolute;
  left: 0;
}

nav ul.nav-right {
  position: absolute;
  right: 0;
}

.gegTable {
  width: 100%;
  table-layout: fixed;
}

.gegTable, .gegTable th, .gegTable td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}

.gegTable th {
  text-align: center;
  background-color: #e00049;
  color: #E9F3F8;
}

.gegTable th {
  height: 50px;
}

.gegTable td {
  padding: 15px;
  text-align: right;
}

div.table-container {
  overflow-x: auto;
}

span.filter-title {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background-color: #003469;
  color: white;
}

ul.filters {
  list-style: none;
  height: calc(100vh - 160px);
  overflow-y: auto;
  border-bottom: 1px solid #003469;
}

ul.filters li.filter-option {
  position: relative;
  padding: 20px 20px;
  display: block;
  width: calc(100% - 20px*2);
  border-top: 1px solid #003469;
}

ul.filters li.filter-option:first-child {
  border-top: none;
}

ul.filters li.filter-option input[type="checkbox"] {
  position: absolute;
  right: 20px;
  width: 10px;
  top: 22px;
}

ul.filters li.apply button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul.filter-buttons {
  position: absolute;
  bottom: 0;
  list-style: none;
  width: 100%;
}

ul.filter-buttons li.apply button {
  border: none;
  background-color: #003469;
  height: 50px;
  color: white;
  width: 100%;
}

table.filter-table {
  width: 100%;
}

table.filter-table * {
  padding: 0;
  margin: 0;
  border: none;
}

table.filter-table thead {
  background-color: #E00049;
  color: white;
  line-height: 40px;
}

table.filter-table tbody {
  line-height: 30px;
}

table.filter-table tbody tr td {
  border-bottom: 1px solid #003469;
}

ul.pagination {
  list-style: none;
  margin: 20px auto;
  text-align: center;
}

ul.pagination li {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid #003469;
  line-height: 22px;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
}

ul.pagination li.page-item.active {
  background-color: #003469;
  color: white;
}

td.field.last_name {
  min-width: 120px;
}

td.field.first_name {
  min-width: 120px;
}

td.field.name {
  min-width: 100px;
}

td.field.study_name {
  min-width: 100px;
}

td.field.major_name {
  min-width: 140px;
}

td.field.birthdate {
  min-width: 120px;
}

td.field.gender {
  min-width: 80px;
}

td.field.nationality {
  min-width: 100px;
}

td.field.address {
  min-width: 200px;
}

td.field.zip_code {
  min-width: 90px;
}

td.field.city {
  min-width: 120px;
}

td.field.country {
  min-width: 100px;
}

td.field.email {
  min-width: 250px;
}

td.field.phone {
  min-width: 100px;
}

td[class^="field emergency"] {
  min-width: 130px;
}

td.field.medical_info {
  min-width: 200px;
}

ul.download-options {
  list-style: none;
  display: block;
  text-align: right;
}

ul.download-options li.export {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#registerForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.formLabel {
  font-size: 20px;
  font-family: Raleway;
  padding: 25px 50px 25px 0px;
}

.formTitel {
  text-align: center;
}

#radioGeslacht {
  padding: 25px;
}

.tab[input] {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.formButton {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.formButton:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/*# sourceMappingURL=app.css.map */
