nav.navbar {
  background-color: $col-primary;
}
a.navbar-brand img {
  height: 50px;
}
a.navbar-brand {
  margin: 0;
  padding: 0;
}
a.nav-link {
  color: white;
}
a.nav-link:hover {
  color: $col-accent;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.side-nav {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  background-color: greenyellow;
}




.background-white{
  background-color: white;
}
.background-light-blue{
  background-color: #E9F3F8;
}
.color-dark-blue{
  color: #003469;
}
.margin-top-50{
  margin-top: 50px;
}
.padding-10{
  padding: 10px;
}
.padding-top-20{
  padding-top: 20px;
}

//body {
//  background-color: #E9F3F8;
//  overflow: hidden;
//}
//
//* {
//  padding: 0;
//  margin: 0;
//}
//
//.menu-left {
//  position: fixed;
//  background-color: $col-menu-left;
//  width: 200px;
//  height: calc(100vh - 60px);
//  border-right: 1px solid $col-accent;
//}
//.content-right {
//  padding: 0 20px 20px;
//  margin: 0 0 0 200px;
//}
//.content-right h1.page-title {
//  line-height: 50px;
//  height: 50px;
//  margin: 0;
//}
//.content-center {
//  margin: 0 200px;
//}
//
///* Navigation */
//nav {
//  width: 100vw;
//  height: 60px;
//  overflow: hidden;
//  position: relative;
//  background-color: $col-primary;
//}
//nav img {
//  height: 60px;
//  line-height: 60px;
//  display: inline;
//}
//nav ul {
//  list-style: none;
//  display: inline-block;
//}
//nav ul li {
//  line-height: 40px;
//  margin: 10px 0;
//  padding: 0 20px;
//  color: white;
//}
//nav ul.nav-left {
//  display: inline-block;
//  position: absolute;
//  top: 0;
//}
//nav ul.nav-left li {
//  border-left: 1px solid white;
//}
//nav ul.nav-left li:first-child {
//  border: none;
//}
//nav ul.nav-right {
//  position: absolute;
//  right: 0;
//}
//nav a {
//  text-decoration: none;
//}