nav.navbar {
  background-color: $col-primary;
}
a.navbar-brand img {
  height: 50px;
}
a.navbar-brand {
  margin: 0;
  padding: 0;
}
a.nav-link {
  color: white;
}
a.nav-link:hover {
  color: $col-accent;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
.side-nav {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  background-color: white;
  height: calc(100vh - 66px);
  padding-right: 30px;
  margin-right: -20px;
  border-right: 1px solid $col-accent;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 66px - 60px);
  overflow-y: auto;
  display: block;
  position: absolute;
  width: 250px;
  left: 0;
  top: 60px;
}
.side-nav ul li {
  margin-left: 15px;
  padding: 5px 20px 0;
  position: relative;
  line-height: 40px;
  border-bottom: 1px solid $col-accent;
}
.side-nav ul li:last-child {
  border: none;
}
.side-nav ul li input[type="checkbox"] {
  position: absolute;
  right: 20px;
  top: 20px;
}
.side-nav button {
  display: block;
  height: 60px;
  width: 235px;
  margin-right: -30px;
  background-color: $col-accent;
  border: none;
  color: white;
}
.side-nav button:hover {
  cursor: pointer;
}
.trip-overview ul {
  list-style: none;
  height: 60px;
}
.trip-overview ul li {
  display: inline-block;
  line-height: 60px;
}
.container-fluid {
}

//body {
//  background-color: #E9F3F8;
//  overflow: hidden;
//}
//
//* {
//  padding: 0;
//  margin: 0;
//}
//
//.menu-left {
//  position: fixed;
//  background-color: $col-menu-left;
//  width: 200px;
//  height: calc(100vh - 60px);
//  border-right: 1px solid $col-accent;
//}
//.content-right {
//  padding: 0 20px 20px;
//  margin: 0 0 0 200px;
//}
//.content-right h1.page-title {
//  line-height: 50px;
//  height: 50px;
//  margin: 0;
//}
//.content-center {
//  margin: 0 200px;
//}
//
///* Navigation */
//nav {
//  width: 100vw;
//  height: 60px;
//  overflow: hidden;
//  position: relative;
//  background-color: $col-primary;
//}
//nav img {
//  height: 60px;
//  line-height: 60px;
//  display: inline;
//}
//nav ul {
//  list-style: none;
//  display: inline-block;
//}
//nav ul li {
//  line-height: 40px;
//  margin: 10px 0;
//  padding: 0 20px;
//  color: white;
//}
//nav ul.nav-left {
//  display: inline-block;
//  position: absolute;
//  top: 0;
//}
//nav ul.nav-left li {
//  border-left: 1px solid white;
//}
//nav ul.nav-left li:first-child {
//  border: none;
//}
//nav ul.nav-right {
//  position: absolute;
//  right: 0;
//}
//nav a {
//  text-decoration: none;
//}