body {
  background-color: #E9F3F8;
}

* {
  padding: 0;
  margin: 0;
}

.menu-left {
  position: fixed;
  background-color: $col-menu-left;
  width: 200px;
  height: 100vh;
  border-right: 1px solid $col-accent;
}
.content-right {
  padding: 20px;
  margin: 0 0 0 200px;
}