div.table-container {
  overflow-x: auto;
}
span.filter-title {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background-color: $col-accent;
  color: white;
}
ul.filters {
  list-style: none;
  height: calc(100vh - 160px);
  overflow-y: auto;
  border-bottom: 1px solid $col-accent;
}
ul.filters li.filter-option {
  position: relative;
  padding: 20px 20px;
  display: block;
  width: calc(100% - 20px*2);
  border-top: 1px solid $col-accent;
}
ul.filters li.filter-option:first-child {
  border-top: none;
}
ul.filters li.filter-option input[type="checkbox"] {
  position: absolute;
  right: 20px;
  width: 10px;
  top: 22px;
}
ul.filters li.apply button {
  position: absolute;
  bottom: 0;
  width: 100%;
}
ul.filter-buttons {
  position: absolute;
  bottom: 0;
  list-style: none;
  width: 100%;
}
ul.filter-buttons li.apply button {
  border: none;
  background-color: $col-accent;
  height: 50px;
  color: white;
  width: 100%;
}
table.filter-table {
  width: 100%;
}
table.filter-table * {
  padding: 0;
  margin: 0;
  border: none;
}
table.filter-table thead {
  background-color: $col-primary;
  color: white;
  line-height: 40px;
}
table.filter-table tbody {
  line-height: 30px;
}
table.filter-table tbody tr td{
  border-bottom: 1px solid $col-accent;
}
ul.pagination {
  list-style: none;
  margin: 20px auto;
  text-align: center;
}
ul.pagination li {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid $col-accent;
  line-height: 22px;
}
ul.pagination li a {
  text-decoration: none;
  color: black;
}
ul.pagination li.page-item.active {
  background-color: $col-accent;
  color: white;
}
td.field.last_name {
  min-width: 120px;
}
td.field.first_name {
  min-width: 120px;
}
td.field.name {
  min-width: 100px;
}
td.field.study_name {
  min-width: 100px;
}
td.field.major_name {
  min-width: 140px;
}
td.field.birthdate {
  min-width: 120px;
}
td.field.gender {
  min-width: 80px;
}
td.field.nationality {
  min-width: 100px;
}
td.field.address {
  min-width: 200px;
}
td.field.zip_code {
  min-width: 90px;
}
td.field.city {
  min-width: 120px;
}
td.field.country {
  min-width: 100px;
}
td.field.email {
  min-width: 250px;
}
td.field.phone {
  min-width: 100px;
}
td[class^="field emergency"] {
  min-width: 130px;
}
td.field.medical_info {
  min-width: 200px;
}
ul.download-options {
  list-style: none;
  display: block;
  position: absolute;
  top: 115px;
  right: 20px;
  padding: 0;
}
ul.download-options li {
  display: inline-block;
  margin-left: 5px;
}
ul.download-options li:first-child {
  margin: 0;
}
ul.download-options li.export button {
  height: 40px;
  align-content: center;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid $col-accent;
  transition: 0.1s ease-in-out all;
}
ul.download-options li.export button:hover {
  cursor: pointer;
  background-color: $col-accent;
  color: white;
}
ul.list-trip {
  list-style: none;
  line-height: 48px;
  margin-left: -18px;
  max-width: 100%;
  overflow-x: auto;
}
ul.list-trip li {
  display: inline-block;
  padding: 0 20px;
  background-color: $col-primary;
  border: 1px solid white;
  margin: 0 -3px;
  color: white;
  transition: 0.1s ease-in-out all;
}
ul.list-trip li.own:hover {
  background-color: $col-accent;
  cursor: pointer;
}
ul.list-trip li.active {
  background-color: $col-accent;
}
div.filter-footer {
  margin-top: 20px;
  position: relative;
}
div.filter-footer div.filter-per-page {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
}