/* Column width table user data */
td.field.gender {
  min-width: 80px;
}
td.field.zip_code {
  min-width: 90px;
}
td.field.study_name,
  td.field.nationality,
  td.field.country,
  td.field.phone {
    min-width: 100px;
}
td.field.last_name,
  td.field.first_name,
  td.field.birthdate,
  td.field.city {
    min-width: 120px;
}
td.field.name,
  td[class^="field emergency"] {
    min-width: 130px;
}
td.field.major_name {
  min-width: 140px;
}
td.field.address,
  td.field.medical_info {
  min-width: 200px;
}
td.field.email {
  min-width: 250px;
}

/* Table cursor pointer while hover */
.cursor-pointer:hover {
  cursor:pointer;
}

/* Set custom margins for badges */
.badge-custom {
  margin: 1em .5em;
}

/* Menu left styling */
#menu-left {
  width: 250px;
  height: calc(100vh - 210px);
  display: inline-block;
  padding: 0;
  background-color: white;
}
#menu-left .btn {
  margin: 1em 0;
  width: 100%;
}
#menu-left .form-group {
  margin: 0;
  padding: calc(.5em + 5px) 0 .5em;
  border-top: 1px solid black;
}
#menu-left .form-group:first-child {
  border: none;
}

/* Content right styling */
#content-right {
  width: calc(100% - 250px);
  height: calc(100vh - 210px);
  float: right;
}